<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profusion Ventures</title>
    <link rel="icon" href="public/img/logo.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="public/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>

  <body>
    <!-- Header -->
    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <div class="brand">
            <a href="#hero">
              <img src="public/img/fusion_logo.jpg" alt="" />
              <!-- <h1><span>S</span>haif <span>A</span>rfan</h1> -->
            </a>
          </div>
          <div class="nav-list">
            <div class="hamburger">
              <div class="bar"></div>
            </div>
            <ul>
              <li><a href="#hero" data-after="Home">Home</a></li>
              <li><a href="#services" data-after="Business">Business</a></li>
              <!-- <li><a href="#projects" data-after="Business">Business</a></li> -->
              <li><a href="#projects" data-after="Portfolio">Portfolio</a></li>
              <li><a href="#contact" data-after="Contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Header -->

    <!-- Hero Section  -->
    <section id="hero">
      <div class="hero container">
        <div>
          <h1>PROFUSION<span></span></h1>
          <h1>VENTURES<span></span></h1>
          <h1 class="equity">Private Equity Firm <span></span></h1>
          <a href="#services" type="button" class="cta">Read More</a>
        </div>
      </div>
    </section>
    <!-- End Hero Section  -->

    <!-- Service Section -->
    <section id="services">
      <div class="services container">
        <div class="service-top">
          <h1 class="section-title">A<span>b</span>out</h1>
          <p>
            Profusion Ventures is among the leading private equity and
            investment management firms in the region, with headquarter in the
            USA and regional offices in the Middle East and the UK. We offer a
            range of investment and private equity opportunities to companies
            and investors. We can partner with investors and entrepreneurs at
            all development stages across various industries while helping them
            grow and scale successfully. We combine our in-depth industry
            knowledge, experience, and expertise to support the company’s
            long-term development and fully align the interests of our portfolio
            and investment management teams to generate outstanding results.
          </p>
        </div>
        <div class="service-bottom">
          <div
            class="service-item"
            style="background-image: url(public/img/about.jpg)"
          >
            <div class="icon">
              <img
                src="public/img/target.png"
                style="width: 45px; height: 45px"
              />
            </div>
            <h2>Our Mission</h2>
            <p>
              Helping small to medium-scale businesses in value creation and
              growth by connecting them with investors. Working toward
              acquisitions or IPOs in the coming years to generate long-term and
              superior investment returns and provide a challenging team-based
              environment.
            </p>
          </div>
          <div
            class="service-item"
            style="background-image: url(public/img/about2.jpg)"
          >
            <div class="icon">
              <img
                src="public/img/realestate.png"
                style="width: 45px; height: 45px"
              />
            </div>
            <h2>Real Estate</h2>
            <p>
              Presenting the best opportunities for real estate investors. We
              adopt a partnership approach to real estate investments at the
              entity/platform and asset levels. Our experienced professionals
              enable us to build significant enterprise value beyond the assets'
              underlying value.
            </p>
          </div>
          <div
            class="service-item"
            style="background-image: url(public/img/about3.jpg)"
          >
            <div class="icon">
              <img
                src="public/img/money.png"
                style="width: 45px; height: 45px"
              />
            </div>
            <h2>Private Equity</h2>
            <p>
              In-house team to efficiently manage their micro and macro business
              operations. We focus on helping their management build enduring
              companies that generate excellent returns for them. We exclusively
              focus on investing in private market segments that other investors
              overlook.
            </p>
          </div>
          <div
            class="service-item"
            style="background-image: url(public/img/about4.jpg)"
          >
            <div class="icon">
              <img
                src="public/img/handshake.png"
                style="width: 45px; height: 45px"
              />
            </div>
            <h2>Investor Relations</h2>
            <p>
              A team of qualified professionals with extensive experience in
              private banking and relationship management. Our investor
              management team ensures ultimate satisfaction for all our clients.
              This enables us to take necessary steps to build reliable,
              healthy, and long-term relationships.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Service Section -->

    <!-- Projects Section -->
    <section id="projects">
      <div class="projects container">
        <div class="projects-header">
          <h1 class="section-title">Our <span>Portfolio</span></h1>
        </div>
        <div class="all-projects">
          <!-- ************************************* -->
          <div class="project-item">
            <div class="project-info">
              <h1></h1>
              <h2>MaxxVin</h2>
              <br />
              <p>
                At the dealer, you can lose up to $5,000 on your trade-in. We
                give you a better price than the dealer and easier to work with.
                Using our technology, we give the best price possible. And, when
                we pick up the vehicle, we give you a cashier's check. It's that
                easy.
              </p>
              <br /><br /><br />
              <!-- <div class="image1"></div> -->
            </div>
            <div class="project-img">
              <a href="https://maxxvin.com/" target="_blank">
                <img src="./public/img/maxxvinbg.png" alt="img"
              /></a>
            </div>
          </div>
          <!-- ************************************* -->
          <div class="project-item">
            <div class="project-info">
              <h1></h1>
              <h2>WEGEN LEADS</h2>
              <br />
              <p>
                Create a network to generate leads for your business. Lead
                generation is a core part of the sales funnel for many B2B
                companies. Lead generation is also important for ecommerce and
                other businesses, as email marketing is still one of the most
                effective channels for marketing online,
              </p>
              <br /><br /><br />
              <!-- <div class="image5"></div> -->
            </div>
            <div class="project-img">
              <a href="https://wegenleads.com/" target="_blank">
                <img src="./public/img/wegenbg.png" alt="img"
              /></a>
            </div>
          </div>
          <!-- ************************************* -->
          <div class="project-item">
            <div class="project-info">
              <h1></h1>
              <h2>SHYPN</h2>
              <br />
              <p>
                Auto transport broker serving the United States (excluding
                Alaska/Hawaii/Puerto Rico). Our job is to get your vehicle(s)
                moved quickly and safely. Specializing in transporting exotics,
                moving over 25 million dollars worth of vehicles per month.
              </p>
              <br /><br /><br />
              <!-- <div class="image3"></div> -->
            </div>
            <div class="project-img">
              <a href="https://shypn.com/" target="_blank">
                <img src="./public/img/shypnbg.png" alt="img"
              /></a>
            </div>
          </div>
          <!-- ************************************* -->
          <div class="project-item">
            <div class="project-info">
              <h1></h1>
              <h2>Solve With Tech</h2>
              <br />
              <p>
                Web and mobile app dev firm, building everything from simple
                lead generation websites to complex integrated systems. We
                develop custom software solutions that deliver transformation at
                scale.
              </p>
              <br /><br /><br />
              <!-- <div class="image"></div> -->
            </div>
            <div class="project-img">
              <a href="https://solvewithtech.com/" target="_blank">
                <img src="./public/img/solvetech.png" alt="img"
              /></a>
            </div>
          </div>

          <!-- *************************************** -->

          <div class="project-item">
            <div class="project-info">
              <h1></h1>
              <h2>LA STALLA</h2>
              <br />
              <p>
                Offering a wide variety of cars, packages, and services. No
                matter how crazy your idea is, we can help to make it a reality.
                Reach out, and you'll soon realize nothing is out of reach.
              </p>
              <br /><br /><br />
              <!-- <div class="image4"></div> -->
            </div>
            <div class="project-img">
              <a href="https://lastallaexotics.com/" target="_blank">
                <img src="./public/img/stallabg.png" alt="img"
              /></a>
            </div>
          </div>
          <!-- ************************************** -->
          <div class="project-item">
            <div class="project-info">
              <h1></h1>
              <h2>NYSX Trading</h2>
              <br />
              <p>
                Founded in 2021, NYSX Trading began as a vision to equip
                everyday people with the tools necessary to learn the very
                profitable skill set of option trading.
              </p>
              <br /><br /><br />
              <!-- <div class="image2"></div> -->
            </div>
            <div class="project-img">
              <a href="https://nysxtrading.com/" target="_blank">
                <img src="./public/img/nysxbg.png" alt="img"
              /></a>
            </div>
          </div>
          <!-- ************************************** -->
        </div>
      </div>
    </section>
    <!-- End Projects Section -->

    <!-- About Section -->
    <section id="contact">
      <br /><br />
      <h1 class="section-title">Contact <span>Us</span></h1>
      <div class="about container">
        <div class="col-left">
          <div class="about-img">
            <img src="./public/img/map.jpg" alt="img" />
          </div>
        </div>
        <div class="col-right">
          <h2></h2>
          <!-- **************************************************** -->

          <form id="msform" method="POST" action="send">
            <fieldset>
              <input type="text" name="name" placeholder="Your Name" />
              <input type="email" name="email" placeholder="Email" />
              <input type="phone" name="phone" placeholder="Phone Number" />
              <textarea name="message" id="" cols="20" rows="10"></textarea>
              <button class="next action-button" name="" type="submit">
                Reach Out Today
              </button>
            </fieldset>
            <!-- ************************************************ -->
            <div
              class="thankyou_message"
              style="
                display: none;
                background: none;
                border: 8px solid gray;
                border-radius: 40px;
                width: 400px;
                padding-top: 15px;
                padding-bottom: 40px;
                padding-left: 20px;
                padding-right: 20px;
              "
            >
              <br /><br />
              <!-- <h1>Thanks for contacting us!</h1>
              <h1>*******</h1> -->
            </div>
          </form>
          <!-- ************************************************** -->
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Contact Section -->

    <!-- End Contact Section -->

    <!-- Footer -->
    <section id="footer">
      <div class="footer container">
        <h2>
          Wall Street Executive Offices-40 Wall St <br />
          28Th Floor New York City, New York 10005
        </h2>
        <div class="social-icon">
          <div class="social-item">
            <a href="#"
              ><img
                src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"
            /></a>
          </div>
          <div class="social-item">
            <a href="#"
              ><img
                src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"
            /></a>
          </div>
          <div class="social-item">
            <a href="#"
              ><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"
            /></a>
          </div>
        </div>

        <p>© 2021 Profusion Ventures. All Rights Reserved.</p>
      </div>
    </section>
    <!-- End Footer -->
    <script src="./app.js"></script>

    <!-- ************************************************** -->
  </body>
</html>
